* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html {
  background-color: #383838;
}

#view3d {
  width: 80vw;
  height: 100vh;
}

#view3d .nowloaing {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px;
}

#controller {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#controller::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#controller::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.emote {
  background-color: #fff;
  color: #000;
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 0;
  border-radius: 4px;
}

@media screen and ( max-width: 80vh ) {
  #view3d {
    width: 100vw;
    height: 80vh;
  }
  #controller {
    position: absolute;
    top: 80vh;
    left: 0;
    width: 100vw;
    height: 20vh;
  }
}
